@charset "ISO-8859-1";

table{
	width: 80%;
	border-collapse: collapse;
	border:2px solid black;
	margin: auto;
}

th{
	height: 50px;
}

th, td {
  border-bottom: 1px solid black;
  text-align: center;
}
th{
	background-color: green;
}
table tr:nth-child(odd){background-color: #58FA58;}
tr:nth-child(even){background-color: #A9F5A9}


input[type=submit]{
 color: white;
 background-color: Blue;
 text-align:  center;
 border-radius: 7px;
 width: 20%;
 border: none;
 cursor: pointer;
 margin-left: 20px;
}

input[type = submit]:hover{
	background-color: #0B0B61;
}

input[type=text],input[type=date]{
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 3px solid #ccc;
  border-radius: 5px;
  background-color:#D8D8D8;
}


form{ 
border: thin;
width:100%;
margin: auto;
text-align: left;
}

#title{
	position:absolute;
	left:40%;
	top:-10%;
	font-size: 70px;
	color:#2E2E2E;
	font-weight:900; 
	font-family: fantasy;
}

#titleDiv{
	height:20%;
	text-align: left;
	position:relative;
	top:-20px;
	background-color: #F3F781;
}

#listDiv{
    width:100%;
    margin: auto;
    align-items: center;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ECF6CE;
}
	
#addTaskDiv{
	width: 40%;
	margin: auto;
	align-items: center;
	text-align: center;
	padding: 3px;

}

body{
	padding: 0;
	margin:0;
	height: 100%;
	min-height: 100%;
	background-color: #ECF6CE;
}

html{
	height: 100%;
	min-height: 100%;
	background-color: #ECF6CE;
}

